<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css?version=2">
        <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet'>
        <title> Clean Out Loud</title>
    </head>
    <body>
        <div class="well main">
            <h3><%= title %></h3>
            <div class="events">
                <ul class="calender">
                    <li>Dag 1</li>
                    <li>Dag 2</li>
                    <li>Dag 3</li>
                    <li>Dag 4</li>
                    <li>Dag 5</li>
                    <li>Dag 6</li>
                    <li>Dag 7</li>
                    <br>
                </ul>
            </div>
            <form method="POST" action="/back">
                <input class="btn btn-default" type="submit" value="Tilbage">
            </form>
        </div>
    </body>
</html>