<!DOCTYPE html>
<html>
    <head>
        <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="style.css?version=3">
        <title> Clean Out Loud</title>
    </head>
    <body>
        <div class="well main">
            <h3><%= title %></h3>
            <h4 name="header"><%= message %></h4>
            <table class="table table-hover">
                <% for (var i = 0; i < comments.length; i++) { %>
                <tr class="clickableRow">
                    <td class="message"><%= comments[i] %></td>
                </tr>    
                <% } %>
            </table><br>
            <form method="POST" action="/wall">
                <input class="btn btn-default" type="submit" value="Tilbage">
            </form>
            <br><br>
            <label><%= error %></label>
        </div>
    </body>
</html>