<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css?version=2">
        <title> Clean Out Loud</title>
    </head>
    <body>
        <div class="main">
            <h3><%= title %></h3>
            <form method="POST" action="/login">
                <label> Brugernavn </label><br>
                <input type="text">
                <br><br>
                <label> Adgangskode </label><br>
                <input type="text">
                <br><br>
                <label> Administrator </label><br>
                <input type="checkbox" value="Admin">
                <br><br>
                <input type="submit" value="Opret bruger">
            </form>
            <br>
            <form method="POST" action="/back">
                <input type="submit" value="Tilbage">
            </form>
        </div>
    </body>
</html>