.main{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.trashtable{
	margin: 0 auto;
	width: 30%;
	text-align: center;
}
.quiztable{
	margin: 0 auto;
	width: 20%;
	text-align: center;
}
.trashtable th {
	height: 50px;
}
.calender ul {
	list-style-type: none;
}
.calender {
    margin: 0 auto;
	width: 80%;
}
.calender li {
    display: inline-block;
    width: 10%;
    color: #666;
    text-align: center;
}